header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
.no-margins{
    margin: 0;
}
.oj-spacer{
    margin: 0;
    height: 5px;
    background-color: #ff9800;
}
.padded{
    padding: 10pt;
}
.fine-print{
    font-size: 9px;
    font-weight: 200;
}
.small-text{
    font-size: 10pt;
}