header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
.no-margins{
    margin: 0;
}
.small-margins{
    margin: 3px;
}
.top-margin{
    margin-top: 8px;
}
.oj-spacer{
    margin: 0;
    height: 5px;
    background-color: #ff9800;
}
.padded{
    padding: 10pt;
}
.fine-print{
    font-size: 9px;
    font-weight: 200;
}
.small-text{
    font-size: 10pt;
}
input.formal-input,
textarea.formal-input{
    border-radius: 2px;
    border: 1px solid #cfd8dc;
    padding: 6px;
    margin-bottom: 8px;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #fafafa;
    font-size: 11px;
    color: black;

}
input.formal-input::-moz-placeholder{
    color: gray;
}

input[type=date].formal-input{
    border-radius: 2px;
    border: 1px solid #cfd8dc;
    padding: 6px;
    margin-bottom: 8px;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #fafafa;
    font-size: 11px;
    color: black;
    cursor: pointer;

}
/* WIDGETS */
.widget{
    background-color: white;
    border: 1px solid #cfd8dc;
    margin: 10px 3px 3px 3px;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
    border-radius: 2px;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); /*Z-depth-1*/
}
.widget.news-feed{
    min-height: 500px !important;
}
.widget-header{
    cursor: grab;
}

.widget-header h6{
    font-weight: 300;
}

.widget-title{
    font-weight: 300;
    font-size: 14px;
    color: #4db6ac; /* TEAL LIGHTEN 2 */
    margin: 5px;
    vertical-align: bottom;
    user-select: none !important;
}
.widget-header i{
    vertical-align: middle;
    font-size: 13px;
    cursor: pointer;
    color: #b0bec5; /* BLUE-GREY LIGHTEN 3 */
}

/* AUX CONTAINERS */
.news-feed-post{
    font-size: 11px;
    border-radius: 2px;
}
.news-feed-post:nth-child(even).post-content{
    background-color: #e0f2f1;
}
.news-feed-post:nth-child(odd).post-content{
    background-color: #b2dfdb;
}
.post-avatar{
    display: block;
    float: left;
}
.post-content{
    display: block;
    float: left;
    font-size: 11px;
}
